<div>
    <button class="btn btn-primary" type="button" ng-click="$ctrl.savePosts()">Save List</button>
    <table>
        <thead>
            <tr class="row100 head">
                <th class="cell100 column1">Title</th>
                <th class="cell100 column2">Author</th>
            </tr>
        </thead>
    </table>
</div>
<div class="table100-body js-pscroll">
    <table>
        <tbody>
            <tr class="row100 body" ng-repeat="post in $ctrl.state.postsList track by post.id">
                <td class="cell100 column1">{{post.title}}</td>
                <td class="cell100 column1">{{post.author}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>