@import './assets/custom';

.topmenu {
    overflow: hidden;
    background-color: #333;
  }
  
.content {
    background-color: #ddd;
    padding: 10px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    &.element {
      height: 50%;
      width: 50%;
      background-color: black;
      display: inline-block;
      vertical-align: top;
      border-color: #333;
    }
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
}